body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: 3em auto;
  background-color: #3e3b37;
  color: rgb(222, 213, 200);
}

pre {
  margin: 0;
  padding: 2px 3em;
  border-top: solid 3px #282c34;
}

body > span {
  background-color: #312f2f;
}

header {
  grid-template-columns: 2em auto min-content;
  padding: 0;
  height: 3em;
  width: 100vw;
  display: grid;
}

header * {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  display: inline-block;
  height: 100%;
  width: 100%;
  color: #ded5c8;
  font-size: 2em;
}

header button {
  padding: 0 1em;
  border-left: 4px solid #282c34;
  background-color: #312f2f;
}

header button:hover {
  color: white;
  background-color: #282c34;
  transition-property: background-color;
}
